<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="toaster/css/toaster.css"/>
    <link rel="stylesheet" href="icons/iconfont.css"/>
    <link rel="stylesheet" href="css/fileupload.css"/>
    <title>FileUploadDemo</title>
</head>
<body>
    <div><button id="test">test</button></div>
    <div id="echo" class="m-t-10">

    </div>

</body>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/jquery.form.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="toaster/js/toaster.js"></script>
<script type="text/javascript" src="js/basic.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</html>
